.nav-container{
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
}
.container{
  padding: 2rem;
  width: 100%;
  display: flex;
  background-color: black;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.logo{
  font-size: 2rem;
  font-weight: bolder;
}
.action-section{
  display: flex;
  gap: 1rem;
  list-style: none;
}