*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: sans-serif;
}
.app{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100svh;
  gap: 5rem;
}
.simpleForm{
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.login{
  display: flex;
  flex-direction: column;
  gap: 3rem;
}