#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.title{
  padding: 2rem;
  border: 2px solid black;
  position: relative;
  z-index: 100;
}
.cursor{
  display: none;
  background-color: #111;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  position: fixed;
  top: -10%;
  left: -4.5%;
}

.title:hover{
  cursor: pointer;
}
.enter{
  display: block;
  cursor: pointer;
  width: 150px;
  height: 150px;
  z-index: 101;
  pointer-events: none;
}